{% if pageCount > 1 %}
    <div class="row-fluid">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <ul class="pagination">
                {% if previous is defined %}
                    <li>
                        <a class="button-page" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;&nbsp;Previous</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <span>&laquo;&nbsp;Previous</span>
                    </li>
                {% endif %}

                {% if startPage > 1 %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                    </li>
                    {% if startPage == 3 %}
                        <li>
                            <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                        </li>
                    {% elseif startPage != 2 %}
                        <li class="disabled">
                            <span>&hellip;</span>
                        </li>
                    {% endif %}
                {% endif %}


                {% for page in pagesInRange %}
                    {% if page != current %}
                        <li>
                            <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="active">
                            <a onclick="javascript: return false;" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}<span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}

                {% endfor %}

                {% if pageCount > endPage %}
                    {% if pageCount > (endPage + 1) %}
                        {% if pageCount > (endPage + 2) %}
                            <li class="disabled">
                                <span>&hellip;</span>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
                    </li>
                {% endif %}

                {% if next is defined %}
                    <li>
                        <a class="button-page" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Next&nbsp;&raquo;</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <span>Next&nbsp;&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}