{% extends "@FOSUser/layout.html.twig" %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="form" action="{{ path("fos_user_security_check") }}" method="post">
        <fieldset class="form__fieldset">
            <legend class="form__title">{{ 'site.login.header'|trans }}</legend>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form__group">
                <label class="form__label required" for="username">{{ 'site.login.field.username'|trans }}</label>
                <input class="form__control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" ta-username-input/>
            </div>

            <div class="form__group">
                <label class="form__label required" for="password">{{ 'site.login.field.password'|trans }}</label>
                <input class="form__control" type="password" id="password" name="_password" required="required" ta-password-input/>
            </div>

            <div class="form__group">

                <label class="checkbox-login">
                    <input class="checkbox-login__input" type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <span class="checkbox-login__custom"></span>
                </label>

                <label for="remember_me" style="margin: 0;">{{ 'site.login.field.rememberMe'|trans }}</label>
            </div>

            <div class="form__group">
                <a href="{{ path('fos_user_registration_register') }}">{{ 'site.login.register'|trans }}</a>
            </div>
            <button class="form__button" type="submit" id="_submit" name="submit" ta-login-button>{{ 'site.login.submit'|trans }}</button>
        </fieldset>
    </form>

{% endblock body %}