{% use "bootstrap_3_layout.html.twig" %}


{%- block number_widget -%}
    {# type="number" doesn't work with floats #}
    {%- set type = type|default('number') -%}
    {{ block('form_widget_simple') }}
{%- endblock number_widget -%}

{% block form_start %}
    {% spaceless %}
        {% set method = method|upper %}
        {% if method in ["GET", "POST"] %}
            {% set form_method = method %}
        {% else %}
            {% set form_method = "POST" %}
        {% endif %}
        <form role="form" name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
        {% if form_method != method %}
            <input type="hidden" name="_method" value="{{ method }}" />
        {% endif %}
    {% endspaceless %}
{% endblock form_start %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: ' form__label'}) -%}

    {% if attr.hint is defined %}
        {%- set label_attr = label_attr|merge({class: ' form__label--tooltip'}) -%}
    {% endif %}

    {{- parent() -}}

    {% if attr.hint is defined %}
        <a class="tooltip-question" data-toggle="tooltip" title="{{ attr.hint }}"></a>
    {% endif %}
{%- endblock form_label %}

{% block form_row -%}
    <div class="form__group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block form_widget_simple -%}
    {% if type is not defined or 'file' != type %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form__control')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <div class="select">
        <select class="select__field" data-process-with-js="true" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {%- if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
        <div class="select__custom"></div>
    </div>
{%- endblock choice_widget_collapsed -%}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}

        <script>
            $('[name="{{ form.vars.full_name }}"]').datepicker({
                format: 'dd-MM-yyyy',
                startDate: '{{ attr.startDate|default(0) }}',
                autoclose: true
            });
        </script>
    {% else -%}
        {{- parent() -}}
    {% endif %}
{%- endblock date_widget %}

{% block choice_widget_expanded -%}
    {% if '-inline' in label_attr.class|default('') %}
        <ul class="inline-list">
            {% for child in form %}
                <li>{{ form_widget(child, {
                        parent_label_class: label_attr.class|default(''),
                    }) }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                }) }}
            {% endfor %}
        </div>
    {% endif %}
{%- endblock choice_widget_expanded %}

{% block checkbox_widget -%}
    {% set parent_label_class = parent_label_class|default('') %}
    {% if errors|length > 0 -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' error')|trim}) %}
    {% endif %}
    {% if 'checkbox-inline' in parent_label_class %}
        {{ form_label(form, null, { widget: parent() }) }}
    {% else %}
        <div class="checkbox">
            {% spaceless %}
                {% set attr = attr|merge({class: (attr.class|default('') ~ ' checkbox__input')|trim}) %}
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                <label style="padding-left: 0" for="pdf_parts_parts_{{ value }}">
                    <span style="margin-right: 10px;" class="checkbox__custom"></span>
                    {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
                </label>

            {% endspaceless %}
        </div>
    {% endif %}
{%- endblock checkbox_widget %}

{%- block collection_widget -%}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {{- block('form_widget') -}}

    {% if allow_add %}
        <a class="btn btn__create btn-small" data-id="add-another{{ id }}">{{ "global.button.add"|trans }}</a>
    {% endif %}

    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        jQuery(document).ready(function() {

            let itemsCount = '{{ form|length }}';
            let collection = jQuery('#{{ id }}');
            let deleteButton = '<a title="{{ "site.title.delete"|trans }}" data-delete-item class="command__btn category__btn"><i class="pro-sprite pro-sprite__del"></i></a>';

            {% if allow_add %}
                jQuery('[data-id="add-another{{ id }}"]').click(function(e) {
                    e.preventDefault();

                    let newWidget = collection.attr('data-prototype');

                    newWidget = newWidget.replace(/__name__label__/g, parseInt(itemsCount) + 1);
                    newWidget = newWidget.replace(/__name__/g, itemsCount);
                    itemsCount++;

                    newWidget = $(newWidget);

                    {% if allow_delete %}
                        newWidget.append(deleteButton);
                    {% endif %}

                    collection.append(newWidget);
                });
            {% endif %}

            {% if allow_delete %}

                collection.children().each(function (item) {
                    $(deleteButton).insertAfter($(this).children('[id*={{ id }}]').first());
                    console.log($(this).children('[id^={{ id }}]:not(div)').first());
                    console.log($(this));
                });

                $(document).on('click', '#{{ id }} [data-delete-item]', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $(this).parent().remove();
                });
            {% endif %}

        })
    </script>
{%- endblock collection_widget -%}