{% extends 'site/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="sub-header">{{ "site.prize.title"|trans }}</h2>
        </div>
        <div class="col-lg-12 gridWithMarginTopBottom">
            <a class="btn btn-success" href="{{ path('site-index:get-prize') }}">{{ "site.prize.create"|trans }}</a>
        </div>
        <div class="col-lg-12">
            {% if pagination.getTotalItemCount == 0 %}
                <div class="alert alert-warning">
                    {{ "site.prize.empty"|trans }}
                </div>
            {% else %}
                <table class="table table-striped table-condensed">
                    <tr>
                        <th width="40">ID</th>
                        <th>{{ "site.prize.createdAt"|trans }}</th>
                        <th>{{ "site.prize.claimedAt"|trans }}</th>
                        <th>{{ "site.prize.status"|trans }}</th>
                        <th>{{ "site.prize.type"|trans }}</th>
                        <th></th>
                    </tr>
                    {% for prize in pagination %}
                        <tr>
                            <td>{{ prize.id }}</td>
                            <td>{{ prize.createdAt|date("d.m.Y H:i:s") }}</td>
                            <td>{{ prize.claimedAt ? prize.claimedAt|date("d.m.Y H:i:s") : ''}}</td>
                            <td>{{ prize.humanStatus }}</td>
                            <td>{{ prize.humanType }}</td>
                            <td>
                                {% if prize.type == constant("App\\Prize\\PrizeType::MONEY") %}
                                    <button class="btn btn-warning btn-xs"
                                            data-toggle="modal" data-target="#deleteModal"
                                            data-replace-action="{{ path('site-index:claim-as-bonus', {id: prize.id}) }}"
                                            data-replace-body="{{ "site.prize.asBonus"|trans({"%name%" : prize.id})|escape }}"
                                    >{{ "site.button.asBonus" | trans }}</button>
                                {% endif %}

                                <button class="btn btn-danger btn-xs"
                                        data-toggle="modal" data-target="#deleteModal"
                                        data-replace-action="{{ path('site-index:refuse', {id: prize.id}) }}"
                                        data-replace-body="{{ "site.prize.refuse"|trans({"%name%" : prize.id})|escape }}"
                                >{{ "site.button.refuse" | trans }}</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {% include 'admin/layout_block/delete_modal.html.twig' with {'csrf': csrf_token('prize_refuse')} %}
                {{ knp_pagination_render(pagination) }}
            {% endif %}
        </div>
    </div>
{% endblock body %}