<!-- Modal -->
<div class="modal fade" auto-replace id="simpleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-replace-action='{"attr": "action"}' action="/" method="POST">
                <input type="hidden" name="token"  value="{{ csrf }}" />
                <div class="modal-body" data-replace-body='text'></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">{{ "admin.button.yes" | trans }}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "admin.button.no" | trans }}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->