{% extends 'admin/layout.html.twig' %}

{% block title %}{{ "admin.user.create"|trans }} - {{ "admin.area"|trans }}, {{ "project.name" |trans}}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin-index') }}">{{ "admin.area"|trans }}, {{ "project.name" | trans}}</a></li>
        <li><a href="{{ path('admin-user') }}">{{ "admin.user.title"|trans }}</a></li>
        <li class="active">{{ "admin.user.create"|trans }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="sub-header">{{ "admin.user.create"|trans }}</h2>
        </div>
        <div class="col-lg-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button name="save" type="submit" class="btn btn-info">{{ "admin.button.create"|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}