{% extends 'admin/layout.html.twig' %}

{% block title %}{{ "admin.user.title"|trans }} - {{ "admin.area"|trans }}, {{ "project.name" |trans}}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin-index') }}">{{ "admin.area"|trans }}, {{ "project.name" |trans}}</a></li>
        <li class="active">{{ "admin.user.title"|trans }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="sub-header">{{ "admin.user.title"|trans }}</h2>
        </div>
        <div class="col-lg-12 gridWithMarginTopBottom">
            <a class="btn btn-success" href="{{ path('admin-user:create') }}">{{ "admin.user.create"|trans }}</a>
        </div>
        <div class="col-lg-12">
            {% if pagination.getTotalItemCount == 0 %}
                <div class="alert alert-warning">
                    {{ "admin.user.empty"|trans }}
                </div>
            {% else %}
                <table class="table table-striped table-condensed">
                    <tr>
                        <th width="40">ID</th>
                        <th>{{ "admin.user.form.username"|trans }}</th>
                        <th>{{ "admin.user.form.email"|trans }}</th>
                        <th>{{ "admin.user.form.domain"|trans }}</th>
                        <th></th>
                    </tr>
                    {% for user in pagination %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.domain }}</td>
                            <td>
                                <a class="btn btn-info btn-xs" href="{{ path('admin-user:update', {id: user.id}) }}">{{ "admin.button.change" | trans }}</a>
                                <button class="btn btn-danger btn-xs"
                                        data-toggle="modal" data-target="#deleteModal"
                                        data-replace-action="{{ path('admin-user:delete', {id: user.id}) }}"
                                        data-replace-body="{{ "admin.user.delete"|trans({"%name%" : user.email})|escape }}"
                                >{{ "admin.button.delete" | trans }}</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {% include 'admin/layout_block/delete_modal.html.twig' with {'csrf': csrf_token('user_delete')} %}
                {{ knp_pagination_render(pagination) }}
            {% endif %}
        </div>
    </div>
{% endblock %}